---
aws_profile: terransible
aws_access_key_id: AKIAJ2342fsdfsSUKA
aws_secret_access_key: ye8+gB8nDcfsd9f8sudfoie3vtRJCuNYdsfdfs98hx
aws_region: eu-central-1
mysql_port: 3306
mysql_root_username: root
mysql_root_password: 2AmkvTZJLSQu49Pt
wp_db_name: 'WordPress'
wp_db_user: 'WPuser-vQ93NM'
wp_db_pass: 'N59M7Vhdwm6jPp6b'
wp_db_preffix: 'wpcmncc_'
wp_username: 'ceman'
wp_password: 'GfvmRXkvC33x8F2b'
wp_domain: 'wp.ceman.cc'
server_admin: 'dc@gmail.com'
remi_repo_url: "http://rpms.remirepo.net/enterprise/remi-release-{{ ansible_distribution_major_version }}.rpm"
remi_repo_gpg_key_url: "http://rpms.remirepo.net/RPM-GPG-KEY-remi"
remi_repofile_path: "/etc/yum.repos.d/remi.repo"
jenkins_repo_url: "http://pkg.jenkins.io/redhat-stable/jenkins.repo"
